h1 {
  margin: 1rem;
  width: 17rem;
  text-align: center;
}

.description {
  margin: 1rem;
  width: 16rem;
  padding-left: 1rem;
  margin-bottom: -1rem;
  display: flex;
  flex-direction: row;
}

.EnglishTitle {
  margin-left: 3rem;
  position: absolute;
}

.IcelandicTitle {
  margin-left: 9.5rem;
  text-align: left;
  position: relative;
}

.row {
  margin: 1rem;
  width: 15rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  border: black 1px solid;
}

.greeting {
  margin-left: 3rem;
  position: absolute;
}

.greetingIcelandic {
  margin-left: 10rem;
  text-align: left;
  position: relative;
}
